div.ejercicio1 {
  width: 600px;

  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;

  color: white;
  gap: 1px;
}

div.ejercicio1 div {
  background-color: rgb(62, 98, 145);
  padding: 20px;
  text-align: center;
}

div.ejercicio2 {
  width: 600px;
  border: 1px solid black;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  color: black;
  gap: 1px;
}

div.ejercicio2 div {
  background-color: rgb(62, 98, 145);
  padding: 20px;
  text-align: center;
}

div.ejercicio2 div:nth-of-type(1) {
  grid-column: 1 / span 3;
}

div.ejercicio3 {
  width: 400px;
  border: 1px solid black;
  margin: auto;
  display: grid;
  grid-template-columns: 100px 150px 150px;
  grid-template-rows: 1fr 1fr 1fr;
  color: black;
  gap: 1px;
}

div.ejercicio3 div {
  background-color: rgb(62, 98, 145);
  padding: 20px;
  text-align: center;
}

div.ejercicio3 div:nth-of-type(1) {
  grid-column: 1 / span 3;
}

div.ejercicio3 div:nth-of-type(2) {
  grid-row: 2 / span 2;
}

div.ejercicio4 {
  width: 400px;
  border: 1px solid black;
  margin: auto;
  display: grid;
  grid-template-columns: 100px 150px 150px;
  grid-template-areas:
    "celda1 celda1 celda1"
    "celda2 . ."
    "celda2 . .";

  color: black;
  gap: 1px;
}

div.ejercicio4 div {
  background-color: rgb(62, 98, 145);
  padding: 20px;
  text-align: center;
}

div.ejercicio4 div.celda1 {
  grid-area: celda1;
}

div.ejercicio4 div.celda2 {
  grid-area: celda2;
}
